<!DOCTYPE html>
<html>
  <head>
    <title>test page</title>
  </head>
  <body>
    
    <h1>SHEinspired</h1>
    <h2> How are you feeling? </h2>
    
    <form method=POST action="/results">
      <input type="radio" name="emotion" value="sad">Sad
      <input type="radio" name="emotion" value="stressed">Stressed
      <input type="radio" name="emotion" value="unmotivated">Unmotivated
      <input type="submit" value="Inspiration">
    </form>
    
    <br>
    <br>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y1qFTEXPiqQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
  </body>
</html>